# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Video files and thumbnails
public/content/gallery/*.mp4
public/content/gallery/*.mov
public/content/gallery/*.avi
public/content/gallery/*.webm
public/content/gallery/*-thumb.jpg
public/content/gallery/*-thumb.png
